.vertical-breadcrumbs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-left: 20px;
  }
  
  .breadcrumb-item {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
  }

  .breadcrumb-content{
    margin-left: 12px;
    
  }
  
  .breadcrumb-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fcdd97; /* Customize the color as needed */
    position: relative;
    z-index: 1;
  }
  
  .breadcrumb-title {
    margin-left: 2rem;
    font-size: 20px;
    padding: 2px;;
    color: #333;
    width:80%;
  }

  .breadcrumb-text {
    margin-left: 2.7rem;
    font-size: 16px;
    font-weight:600;
    margin-bottom: 1em;
    padding:2px;
    color: #333;
  }
  
  .breadcrumb-line {
    position: absolute;
    left: 30px; /* Center line with the circle */
    top: 30px;
    bottom:80px;
    width: 3px;
    background-color: #fcdd97; /* Customize line color as needed */
    z-index: 0;
  }
  